/* Söhne */

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	text-rendering: auto;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-400-kursiv.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	text-rendering: auto;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	text-rendering: auto;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-500-kursiv.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	text-rendering: auto;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	text-rendering: auto;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-700-kursiv.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	text-rendering: auto;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	text-rendering: auto;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-800-kursiv.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	text-rendering: auto;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
}

/* Hatton */

@font-face {
	font-family: "Hatton";
	src: url("/fonts/hatton/woff2/hatton-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	text-rendering: auto;
	/* font-feature-settings: "liga" on, "kern" on, "calt" on; */
}

@font-face {
	font-family: "Hatton";
	src: url("/fonts/hatton/woff2/hatton-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	text-rendering: auto;
	/* font-feature-settings: "liga" on, "kern" on, "calt" on; */
}

/* Nuances */

@font-face {
	font-family: "Nuances";
	src: url("/fonts/nuances/woff2/nuances-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	text-rendering: auto;
}

@font-face {
	font-family: "Nuances";
	src: url("/fonts/nuances/woff2/nuances-400-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: auto;
	text-rendering: auto;
}
