/* Söhne */

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-400-kursiv.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-500-kursiv.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-700-kursiv.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Söhne";
	src: url("/fonts/soehne/woff2/soehne-800-kursiv.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	font-feature-settings: "liga" on, "kern" on, "calt" on;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
