@font-face {
	font-family: "Söhne fallback";
	src: local("Arial");
	ascent-override: 104%;
	descent-override: 23.4%;
	line-gap-override: 0%;
}

@font-face {
	font-family: "Blanco fallback";
	src: local("Times New Roman"), local("Times");
	ascent-override: 99.7%;
	descent-override: 22.8%;
	line-gap-override: 0%;
}

@tailwind base;

/* Add some additional CSS resets from Andy Bell (https://piccalil.li/blog/a-modern-css-reset) */
@layer base {
	::selection {
		@apply bg-purple-700 text-white dark:bg-purple-400 dark:text-black;
	}

	html {
		@apply antialiased;

		&:focus-within {
			scroll-behavior: smooth;
		}
	}

	body {
		min-height: theme("height.screen");
		text-rendering: optimizeSpeed;
		overflow-y: scroll;
		scrollbar-gutter: stable both-edges;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
	}

	@media (prefers-reduced-motion: reduce) {
		html:focus-within {
			scroll-behavior: auto;
		}

		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}
}

@tailwind components;
@tailwind utilities;
