---
import BlogSection from "@components/BlogSection.astro"
import { CustomBalancer as Balancer } from "@components/CustomBalancer"
import ExperienceSection from "@components/ExperienceSection.astro"
import ProjectSection from "@components/ProjectSection.astro"
import BaseLayout from "@layouts/BaseLayout.astro"

export const prerender = true

const title = "Web Artisan"
const description =
	"John Eatmon is a web designer, developer, and mountain climber based in Tacoma, WA."
---

<BaseLayout title={title} description={description}>
	<section aria-labelledby="#title" class="pt-24 pb-9 lg:pt-32">
		<h1 id="title" class="text-2xl font-semibold">
			<Balancer>
				John Eatmon is a web artisan, writer, and mountain climber. He is obsessed with JS
				frameworks like Astro and Next.js, TypeScript, CSS, typography, and human-computer
				interaction.
			</Balancer>
		</h1>
	</section>
	<ProjectSection class="pt-16" featuredNumber={3}>Selected projects</ProjectSection>
	<BlogSection class="pt-16" featuredNumber={3}>Recent posts</BlogSection>
	<ExperienceSection class="pt-16" />
</BaseLayout>
