---
import Carousel from "../components/Carousel"
import DribbbleShot from "./DribbbleShot.astro"

type Images = {
	hidpi?: string
	normal?: string
	teaser?: string
}

export type DribbbleShot = {
	html_url: string
	images: Images
	height: number
	width: number
	title: string
	published_at: string
}

export type DribbbleShots = {
	message?: string
} & DribbbleShot[]

const ACCESS_TOKEN = import.meta.env.DRIBBBLE_OAUTH_TOKEN

const shots = await fetch("https://api.dribbble.com/v2/user/shots", {
	method: "GET",
	headers: {
		Authorization: `Bearer ${ACCESS_TOKEN}`,
		"Content-Type": "application/json",
	},
})

const data = (await shots.json()) as DribbbleShots
---

{
	data && !data.message ? (
		<Carousel client:idle>
			<div class="blaze-track">
				{data.map((shot: DribbbleShot) => (
					<DribbbleShot {...shot} />
				))}
			</div>
		</Carousel>
	) : (
		<p class="-mx-4 rounded-lg border border-purple-700 bg-purple-900 p-4 text-white">
			Rats! Something's not working...
		</p>
	)
}
