---
import type { HTMLAttributes } from "astro/types"
import { SOCIALS } from "../data/config"

const cv = SOCIALS.filter((x) => x.label === "ReadCV")
	.map(({ href }) => href)
	.toString()

interface Props extends HTMLAttributes<"section"> {}

const { ...attrs } = Astro.props as Props
---

<section aria-labelledby="#experience" {...attrs}>
	<h2 id="experience" class="font-medium mb-8">Experience</h2>
	<div class="flex flex-col md:flex-row gap-1 md:gap-9 mb-6">
		<span class="text-gray-11 md:w-40 shrink-0 text-xs md:text-base">???</span>
		<div class="flex-grow">
			<ul role="list" class="flex flex-col gap-4">
				<li class="flex w-full gap-x-1 items-center">
					<span>Seeking new career opportunities</span>
					<div
						aria-hidden="true"
						class="h-px flex-grow bg-gradient-to-r from-gray-8 via-gray-8 to-gray-1 dark:from-white/10 dark:via-white/10 dark:to-black"
					>
					</div>
					<div class="text-gray-11 flex items-center gap-x-[6px]">
						<div aria-hidden="true" class="w-1 aspect-square bg-green-9 animate-pulse rounded-full">
						</div>
						Now
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="flex flex-col md:flex-row gap-1 md:gap-9 mb-8">
		<span class="text-gray-11 md:w-40 shrink-0 text-xs md:text-base">ProSource</span>
		<div class="flex-grow">
			<ul role="list" class="flex flex-col gap-4">
				<li class="flex w-full gap-x-1 items-center">
					<span>Product Designer</span>
					<div
						aria-hidden="true"
						class="h-px flex-grow bg-gradient-to-r from-gray-8 via-gray-8 to-gray-1 dark:from-white/10 dark:via-white/10 dark:to-black"
					>
					</div>
					<span class="text-gray-11">Oct 2020&ndash;Present</span>
				</li>
				<li class="flex w-full gap-x-1 items-center">
					<span>IT Coordinator</span>
					<div
						aria-hidden="true"
						class="h-px flex-grow bg-gradient-to-r from-gray-8 via-gray-8 to-gray-1 dark:from-white/10 dark:via-white/10 dark:to-black"
					>
					</div>
					<span class="text-gray-11">May 2016&ndash;Oct 2020</span>
				</li>
				<li class="flex w-full gap-x-1 items-center">
					<span>Intern</span>
					<div
						aria-hidden="true"
						class="h-px flex-grow bg-gradient-to-r from-gray-8 via-gray-8 to-gray-1 dark:from-white/10 dark:via-white/10 dark:to-black"
					>
					</div>
					<span class="text-gray-11">Dec 2014&ndash;Dec 2015</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="text-center">
		<!-- https://play.tailwindcss.com/Bqg5kMnpte -->
		<a
			href={cv}
			class="inline-block group relative overflow-hidden rounded-lg bg-gray-6 hover:bg-[#09090b] transition-colors duration-300 ease-in-out px-20 py-6 ring-red-500/50 ring-offset-[#09090b] will-change-transform focus:outline-none focus:ring-1 focus:ring-offset-2"
		>
			<span class="absolute inset-px z-10 grid place-items-center rounded-lg bg-[#09090b]">
				Read my résumé
			</span>
			<span
				aria-hidden
				class="absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out z-0 scale-x-[2.0] blur before:absolute before:inset-0 before:top-1/2 before:aspect-square group-hover:before:animate-disco before:bg-gradient-conic before:from-purple-700 before:via-indigo-500 before:to-purple-700/0"
			></span>
		</a>
	</div>
</section>
