---
import type { HTMLAttributes } from "astro/types"
import Dropdown from "../components/Dropdown"
import Image from "../components/Image.astro"

interface Props extends HTMLAttributes<"section"> {}

const { ...attrs } = Astro.props as Props
---

<header {...attrs}>
	<div class="max-w-[700px] mx-auto px-4 py-2 flex gap-x-3 items-center justify-between">
		<a href="/">
			<Image
				src="https://imagedelivery.net/le40TwFDWUdIvXckEp8FBw/5966de80-8db7-449d-80f7-fd1260e76e00/public"
				alt="A selfie of me hiking on snowy Mt. Rainier. I am smiling while wearing my hat and sunglasses. Behind my head, in the distance, you can see the looming peak of Mt. Adams."
				class="w-8 aspect-square rounded-full m-[2px]"
				loading="eager"
			/>
		</a>
		<nav>
			<ul role="list" class="flex text-sm font-medium">
				<li><a href="/about" class="px-3">About</a></li>
				<li><a href="/work" class="px-3">Work</a></li>
				<li><Dropdown client:idle>Contact</Dropdown></li>
			</ul>
		</nav>
		<button class="grid place-items-center w-8 h-8 rounded-full border border-white/5">=</button>
	</div>
	<div
		aria-hidden="true"
		class="h-px w-full bg-gradient-to-r from-gray-8 via-gray-8 to-gray-1 dark:from-white/10 dark:via-white/10 dark:to-[#09090b]"
	>
	</div>
</header>
