---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"section"> {}

const { ...attrs } = Astro.props as Props
---

<section {...attrs} aria-labelledby="#title">
	<h1 id="title" class="text-2xl font-semibold">
		<slot name="title" />
	</h1>
	<p class="mb-6 text-gray-500 dark:text-gray-400">
		<slot />
	</p>
</section>
