---
import type { HTMLAttributes } from "astro/types"
import { smartypants } from "smartypants"
import FeltMap from "./FeltMap"

interface Props extends HTMLAttributes<"section"> {}

const { ...attrs } = Astro.props as Props

let html: string = ""
if (Astro.slots.has("default")) html = await Astro.slots.render("default")
---

<section aria-labelledby="#location" {...attrs}>
	<h2 id="experience" class="font-medium mb-8">Location</h2>
	<div class="flex flex-col md:flex-row gap-1 md:gap-9 mb-6">
		<span class="text-gray-500 dark:text-gray-400 md:w-40 shrink-0 text-xs md:text-base"
			>Tacoma, WA</span
		>
		<div class="flex-grow">
			<p class="mb-6" set:html={smartypants(html, 1)} />
			<FeltMap client:visible />
		</div>
	</div>
</section>
