---
import type { HTMLAttributes } from "astro/types"
import FeltMap from "./FeltMap"

interface Props extends HTMLAttributes<"section"> {}

const { ...attrs } = Astro.props as Props
---

<section aria-labelledby="#location" {...attrs}>
	<div class="mb-6 flex flex-col gap-1 md:flex-row md:gap-9">
		<span class="shrink-0 text-xs text-gray-500 dark:text-gray-400 md:w-40 md:text-base"
			>Location</span
		>
		<div class="flex-grow">
			<div class="mb-6">
				<slot />
			</div>
			<FeltMap client:visible />
		</div>
	</div>
</section>
