---
import Carousel from "../components/Carousel"
import Image from "../components/Image.astro"

const work = await Astro.glob("../../**/project/*.mdx")
	.then((res) => res.filter((x) => !x.frontmatter.draft))
	.then((res) =>
		res.sort(
			(a, b) =>
				new Date(b.frontmatter.published).getDate() - new Date(a.frontmatter.published).getDate(),
		),
	)
---

<Carousel client:idle>
	<div class="blaze-track">
		{
			work.map(({ frontmatter, url }) => (
				<a
					href={url}
					class="bg-white dark:bg-black rounded-lg border border-gray-300 dark:border-gray-800 block group"
				>
					<Image
						src={frontmatter.image.src}
						alt={frontmatter.image.alt}
						class="rounded-t-lg aspect-[4/3]"
					/>
					<div class="p-4 flex flex-col group-hover:bg-gray-300/70 dark:group-hover:bg-gray-900 transition">
						<h3 class="font-medium">{frontmatter.title}</h3>
						<p class="text-sm text-gray-400">
							Posted
							<time datetime={new Date(frontmatter.published).toISOString()}>
								{new Intl.DateTimeFormat("en-US", { dateStyle: "medium" }).format(
									new Date(frontmatter.published),
								)}
							</time>
						</p>
					</div>
				</a>
			))
		}
	</div>
</Carousel>
