---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"main"> {}

const { class: className = "", ...attrs } = Astro.props as Props
---

<main
	class:list={[
		className,
		"prose font-serif prose-lg prose-zinc max-w-max prose-headings:font-sans prose-headings:font-semibold prose-blockquote:font-serif prose-blockquote:text-xl prose-blockquote:italic dark:prose-invert prose-pre:text-sm prose-code:text-sm",
	]}
	{...attrs}
>
	<slot />
</main>
