<main
	class="prose prose-base prose-zinc my-16 max-w-max prose-headings:font-serif prose-headings:font-medium prose-blockquote:font-serif prose-blockquote:text-lg prose-blockquote:font-medium prose-blockquote:italic prose-blockquote:tracking-normal prose-em:font-serif prose-pre:text-base dark:prose-invert"
>
	<slot />
</main>
