<main
	class="prose prose-base prose-zinc my-16 max-w-max prose-headings:font-semibold prose-blockquote:font-serif prose-blockquote:text-xl prose-blockquote:italic prose-blockquote:tracking-tight prose-em:font-serif prose-em:text-[115%] prose-em:tracking-tight dark:prose-invert"
>
	<slot />
</main>
