---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"div"> {
	projectId: string
	file?: string
}

const { projectId, file, ...attrs } = Astro.props as Props

const embedURLBase = `https://stackblitz.com/edit/${projectId}`
const embedURL = new URL(embedURLBase)

embedURL.searchParams.set("ctl", "1")
embedURL.searchParams.set("embed", "1")
!!file && embedURL.searchParams.set("file", file)
---

<div {...attrs}>
	<iframe src={embedURL.href} class="aspect-[4/3] w-full" loading="lazy" width="796" height="597"
	></iframe>
</div>
