---
import BaseHead, { Props as BaseHeadProps } from "../components/BaseHead.astro"

interface Props extends Exclude<BaseHeadProps, "title"> {
	title?: string
}

import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

const { content } = Astro.props
const { ...attrs } = Astro.props as Props
---

<html lang="en" class="h-full">
	<head>
		<BaseHead title={content.title} description={content.description} {...attrs} />
	</head>
	<body class="text-gray-12 bg-gray-1 antialiased h-full [&>footer]:sticky [&>footer]:top-[100vh]">
		<Header class="max-w-[700px] mx-auto px-4 pt-32 pb-9" />
		<main class="prose prose-gray max-w-[700px] mx-auto px-4">
			<slot />
		</main>
		<Footer class="pb-16" />
	</body>
</html>
