---
import BaseHead, { Props as BaseHeadProps } from "../components/BaseHead.astro"

interface Props extends Exclude<BaseHeadProps, "title"> {
	title?: string
}

import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

const { ...attrs } = Astro.props as Props
---

<html lang="en" class="h-full">
	<head>
		<BaseHead {...attrs} />
	</head>
	<body
		class="text-gray-12 bg-[#09090b] antialiased h-full [&>footer]:sticky [&>footer]:top-[100vh] relative transition-colors duration-300 ease-in-out"
	>
		<Header
			class="bg-[#09090b]/80 fixed isolate z-50 top-0 backdrop-blur-[20px] backdrop-saturate-[180%] w-full"
		/>
		<main class="relative max-w-[700px] mx-auto px-4">
			<slot />
		</main>
		<Footer class="relative mt-16 lg:mt-24 pb-16" />
	</body>
</html>
