---
import LinkPreview from "../components/Glimpse"
import PostFooter from "../components/PostFooter.astro"
import PostHeader from "../components/PostHeader.astro"
import BaseLayout from "../layouts/BaseLayout.astro"

const { content } = Astro.props
---

<BaseLayout title={content.title} description={content.description}>
	<article class="pt-24 lg:pt-32 mt">
		<PostHeader {content} />
		<main class="prose prose-gray my-16">
			<slot />
		</main>
		<PostFooter />
	</article>
	<LinkPreview client:idle />
</BaseLayout>
