kbd {
	@apply rounded-[0.25em] border-b-[0.125em] border-t border-b-black/10 border-t-white bg-gradient-to-b from-black/10 to-black/5 p-[0.15em] px-[0.3em] font-mono text-[0.9375em] [box-shadow:0_0_0_1px_rgba(0,0,0,0.25)] dark:border-t-0 dark:border-b-black/40 dark:from-white/10 dark:to-white/[15%] dark:[box-shadow:0_0_0_1px_rgba(255,255,255,0.15)];
}

.footnotes {
	& ol {
		font-size: theme('fontSize.sm');
	}
}

.prose {
	@apply oldstyle-nums text-gray-700 dark:text-gray-400;
	font-weight: 350;
	line-height: 160%;
	text-wrap: pretty;
}

@supports (hyphenate-limit-chars: 6 3 3) {
	.prose :where(p, li, blockquote, dl) {
		hyphens: auto;
		hyphenate-limit-chars: 6 3 3;
	}
}

.prose :where(h2, h3, h4, h5, h6) {
	@apply text-gray-950 dark:text-gray-50;
	font-weight: 600;
	letter-spacing: theme('letterSpacing.tight');
	line-height: 110%;
	text-wrap: balance;
}

.prose .anchor {
	@apply invisible absolute no-underline;
	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

prose .anchor:hover {
	@apply visible;
}

.prose .anchor:after {
	@apply text-gray-300 dark:text-gray-700;
	content: '#';
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose ul li::marker {
	content: '\2014';
}

.prose a {
	@apply underline decoration-gray-300 decoration-[0.075em] underline-offset-2 transition dark:decoration-gray-600;

	&:is(:hover, :focus-visible) {
		@apply decoration-gray-600 dark:decoration-gray-50;
	}
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0;
}

.prose:not(:has(h1)) > :first-child {
	/* Override removing top margin, causing layout shift */
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}

table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}

/* Inline code and code blocks */
pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}

pre[data-theme*='github-light'],
code[data-theme*='github-light'] span {
	color: var(--shiki-light);
}

pre[data-theme*='github-light'] {
	background-color: white;
}

.dark pre[data-theme*='github-dark'],
.dark code[data-theme*='github-dark'] span {
	color: var(--shiki-dark);
}

.dark pre[data-theme*='github-dark'] {
	background-color: theme('colors.gray.950');
}

/* Inline code with syntax highlighting */
span[data-rehype-pretty-code-figure] {
	& code::before,
	& code::after {
		content: none;
	}
}

/* Code blocks */
figure[data-rehype-pretty-code-figure] {
	@apply -mx-4 my-0 border border-gray-200 sm:rounded-lg dark:border-gray-800/60;

	&:has(figcaption) > pre {
		@apply rounded-t-none;
	}

	& figcaption {
		/* &::before {
			content: '\003e';
			margin-right: 0.5em;
		} */

		@apply m-0 rounded-t-lg bg-gray-100 p-4 text-gray-600 dark:bg-transparent dark:text-gray-400;
	}

	/* Styling for line numbers */
	& code[data-line-numbers] {
		counter-reset: line;

		& > [data-line]::before {
			counter-increment: line;
			content: counter(line);
			display: inline-block;
			width: 1rem;
			margin-right: 1.25rem;
			text-align: right;
			color: gray;
		}

		&[data-line-numbers-max-digits='2'] > [data-line]::before {
			width: 2rem;
		}

		&[data-line-numbers][data-line-numbers-max-digits='3'] > [data-line]::before {
			width: 3rem;
		}
	}
}

span[data-highlighted-line] {
	@apply -mx-4 bg-black/5 pl-4 brightness-90 dark:bg-gray-900 dark:brightness-125;
}
