@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

body {
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	font-synthesis: none;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: theme('fontFamily.sans');
	font-weight: 600;
	letter-spacing: theme('letterSpacing.tight');
}

a {
	@apply underline decoration-gray-300 decoration-[0.075em] underline-offset-2 transition dark:decoration-gray-600;

	&:is(:hover, :focus-visible) {
		@apply decoration-gray-600 dark:decoration-gray-50;
	}
}

::selection {
	background-color: theme('colors.gray.400');
	color: theme('colors.gray.950');
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
